section {
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(158, 158, 255);

    background-color: rgb(203, 203, 249);

    padding: 3% 3% 3% 3%;
    
    font-family:monospace;
    font-size: larger;
}