section {
    border-radius: 10px;
    border-style: dotted;
    border-width: 4px;
    border-color: rgb(158, 218, 255);

    background-color: rgb(219, 250, 223);

    padding: 3% 3% 3% 3%;
    
    font-family:monospace;
    font-size: larger;
}
