section {
    border-radius: 40px;
    border-style: dotted;
    border-width: 4px;
    border-color: rgb(158, 218, 255);

    background-color: rgb(219, 250, 223);

    padding: 3% 3% 3% 3%;
    
    font-family:monospace;
    font-size: larger;
}
header{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

